:root {
    --primary: #002E74;
    --accent: #1D6DEC;
    --grey: #4F4F53;
    --black: #000000;
    --white: #FFFFFF;
    --background: #F5F5F5;
    --background-2: #E5E5E5;

    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 20px;
}

.header-section {
    background-image: url(./images/places-to-visit-in-bulgaria.jpg);
    border-radius: 16px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 80px;
}

.header-section::before {
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    left: -1px;
    bottom: -1px;
    background: var(--black);
    border-radius: 16px;
    z-index: -1; 
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 27.5px;
    margin-bottom: 147.5px;
}

.burger-menu {
    display: none;
}

.logo-and-links {
    display: flex;
}

.nav-links {
    display: flex;
}

.navigation-container ul {
    display: flex;
    justify-content: space-between;
    width: 453px;
    list-style: none;
    align-content: center;
}

.logo {
    display: flex;
    align-content: center;
    width: auto;
    align-items: center;
}

.navigation-container a {
    color: var(--white);
    text-decoration: none;
}

.login-buttons {
    display: flex;
    justify-content: space-evently;
    width: 196px;
    gap: 32px
    
}

.p2 {
    font-size: 16px;
    font-weight: 400;
}

.button {
    font-size: 16px;
    font-weight: 600;
    color: white;
    font-family: inherit;
}

.login-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.black-button {
    background-color: var(--black);
    padding: 12px 20px;
    border-radius: 40px;
    border: none;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.display {
    font-size: 66px;
    font-family: inherit;
    font-weight: 600;
    color: var(--white);
    line-height: 120%;
    max-width: 608px;
    margin-bottom: 24px;
    margin-top: 0;
}

.header-section p {
    color: var(--white);
    max-width: 608px;
    margin-top: 0;
    margin-bottom: 40px;
    font-family: inherit;
}

.hero-section button {
    margin-bottom: 140px;
}

.metrics {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.numbers {
    color: var(--white);
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
}

.p1 {
    font-size: 18px;
    font-weight: 400;
}

.explore-text {
    display: flex;
    flex-direction: column;
    max-width: 700px; 
    margin: 0 auto; 
    text-align: center; 
}

.heading-1 {
    display: flex;
    justify-content: center ;
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
    
}

.explore-section {
    margin-bottom: 80px;
}

.explore-text p {
    display: flex;
    justify-content: center ;
    max-width: 400px; 
    margin: 0 auto 40px; 
}

.explore-images {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
}

.destination-overlay-1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: 16px;
} 

.explore-card-1 {
   width: 100%;
   background-image: url(/images/200819101951-07-reconnect-bulgaria-highlights-nessebar.jpg);
   position: relative;
   max-width: 430px;
   height: 400px;
   border-radius: 20px;
   overflow: hidden;
   background-position: center;
   background-size: cover;
}

.destination-overlay-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: 16px;
} 

.explore-card-2 {
   width: 100%;
   background-image: url(/images/plovdiv-4.jpg);
   position: relative;
   max-width: 430px;
   height: 400px;
   border-radius: 20px;
   overflow: hidden;
   background-position: center;
   background-size: cover;
}

.destination-overlay-3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    border-radius: 16px;
} 

.explore-card-3 {
   width: 100%;
   background-image: url(/images/1+-+15.jpeg);
   position: relative;
   max-width: 430px;
   height: 400px;
   border-radius: 20px;
   overflow: hidden;
   background-position: center;
   background-size: cover;
}

.destination-info {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.city {
    margin-bottom: 0;
}

.country {
    margin-top: 0;
    margin-bottom: 39.5px;
}

.header-2 {
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.our-platform-section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0 31px;
    margin-bottom: 100px;
}

.platform-text {
    max-width: 583px;
}

.platform-text h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 500;
}

.platform-text p {
    margin-bottom: 48px;
   
}

.platform-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 576px;
    max-height: 480px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
    
}

.platform-image img {
    width: 100%; 
    object-fit: cover;
}

.platform-steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.travel-step {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.travel-step h3 {
    margin-bottom: 8px;
    margin-top: 0;
}

.travel-step p {
    margin-top: 0;
    margin-bottom: 0;
}

.hotel-section-text {
    display: flex;
    flex-direction: column;
    max-width: 700px; 
    margin: 0 auto 40px; 
    text-align: center; 
}

.hotels-section {
    margin-bottom: 160px;
}

.hotel-section-headline {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 40px;
}

.hotel-section-text p {
    margin-top: 0;
}

.hotel-images {
    display: flex;
    gap: 24px;
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 40px;
}

.card {
    position: relative;
    max-width: 430px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
}

.card-image {
    max-height: 400px;
    display: block;
    border-radius: 20px;
}

.card-info {
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 414px;
    background: var(--white);
    border-radius: 16px;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    padding-left: 16px;
}

.card-location {
    font-size: 14px;
    color: #666;
    margin-top: 0;
    margin-bottom: 8px;
    padding-left: 16px;
}

.card-price {
    font-size: 14px;
    font-weight: 400;
    padding-left: 16px;
    margin-bottom: 0;
}

.card-rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
    background: #F2DBB1;
    padding: 2px 8px;
    border-radius: 12px;
    align-self: flex-end;
    justify-content: flex-end;
    max-width: 54px;
    color: #DD9115;
    margin-bottom: 0;
}

.price-and-rating {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: flex-end;
    margin-bottom: 16px;
    padding-right: 16px;
}


.hotels-button {
    display: flex;
    justify-content: center;
}


.review-section {
    margin-bottom: 80px;
}

.review-cards-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 400px));
    gap: 24px;
    justify-content: center;
}

.review-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border: 1px solid #E5E5E5;
    border-radius: 16px;
    text-align: left;
    max-width: 400px;
}


.quote {
    max-width: 336px;
    margin-bottom: 72px;
}


.image-container {
    display: flex;
    flex-direction: column;
}

.person-image {
    max-width: 56px;
    margin-bottom: 8px;
}

.person-name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 4px;
}

.job-title {
    margin-top: 0;
    margin-bottom: 0;
}


.card-content {
    padding: 32px;
    flex: 1;       
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote p {
    margin-top: 0;
    margin-bottom:  0;
}

.review-heading {
    text-align: center;
}

.cta-banner {
    background-color: var(--background);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 226px;
    border-radius: 16px;
    width: 1216px;
}

.cta-buttons {
    display: flex;
    align-items: center;
    padding: 64px;
    gap: 12px;
}

.transparent-btn {
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 40px;
    border: 1px solid var(--grey);
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}

.cta-heading {
    margin-top: 0;
    margin-bottom: 16px;
}

.cta-paragraph {
    margin-top: 0;
    max-width: 548px;
    color: var(--grey);
}

.cta-text {
    padding: 64px;
}

.cta-section {
    display:flex;
    justify-content: center;
    margin-bottom: 80px;
}

.footer-section {
    background-color: var(--black);
    border-radius: 16px;
}

.footer-banner {
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 32px;
}

.footer-paragraph {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 32px;
    margin-right: 15px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 389px;
    align-items: flex-start;
    padding: 0;
}

ul.footer-nav  {
    margin-top: 0;
}

.footer-nav a {
    color: var(--white);
    text-decoration: none;
}

.footer-padding {
    padding: 48px 31px 24px;

}

.subscribe-label {
    color: var(--white);
}


.copyrights-container {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid var(--grey);
    margin: 0 auto;
}

.copyrights-text {
    color:var(--white);
    margin: 0;
}

.copyrights-buttons {
    display: flex;
    justify-content: space-between;
    width: 191px;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.copyrights-buttons a {
    color: var(--white);
    text-decoration: none;
}

.white-button {
    background-color: var(--white);
    padding: 12px 20px;
    border-radius: 40px;
    border: 1px solid var(--grey);
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
}

.subscribe-input {
    background-color: transparent;
    padding: 12px 20px;
    border-radius: 40px;
    border: 1px solid var(--white);
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    width: 266px;
}

.subscribe-wrapper {
    display: flex;
    justify-content: space-between;
    width: 440px;
    gap: 16px;
    margin-top: 16px;
}

@media (max-width: 1200px) {
  .transparent-btn {
    font-size: 14px;
  }

  .black-button {
    font-size: 14px;
  }

  .cta-buttons {
    padding-left: 0;
  }

  .platform-text {
    max-width: 450px;
}

  .cta-heading {
    font-size: 24px;
  }

  .cta-paragraph {
    font-size: 16px;
  }

  .cta-text {
    padding-right: 0;
    max-width: 400px;
  }

  .header-2 {
    font-size: 24px;
  }

  .heading-1 {
    font-size: 35px;
  }

  .platform-text h1{
    font-size: 35px;    
}

.hotel-section-headline {
    font-size: 35px;
}

  .subscribe-label {
    font-size: 14px;
  }

  .footer-paragraph {
    font-size: 14px;
  }

  .footer-nav {
    width: 300px
  }

  .footer-nav a {
    font-size: 14px;
  }

  .copyrights-text {
    font-size: 14px;
  }

  .copyrights-buttons a {
    font-size: 14px;
  }

  .subscribe-wrapper {
    width: 400px;
  }

  .subscribe-input {
    font-size: 14px;
  }
  .white-button {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
    .footer-paragraph {
        padding-right: 20px;
    }

    .header-2 {
        font-size: 20px;
      }

    .heading-1 {
        font-size: 30px;
    }  

    .platform-text h1{
        font-size: 30px;    
    }
    
    .hotel-section-headline {
        font-size: 30px;
    }

    .display {
        font-size: 55px;
    }  

    .numbers {
        font-size: 24px;
    }

    .p1 {
        font-size: 16px;
    }

    .explore-section, .our-platform-section, .hotels-section  {
        margin-bottom: 60px;
    }
}


@media (max-width: 992px) {
    .burger-menu {
        display: inline;
        position: absolute;
        right: 50px;
    }
    
    .logo-and-links {
        margin: 0 auto;
      }

      .navigation-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

    .navigation-container ul {
        display: none;
    }

    .login-buttons {
        display: none;
    }

    .our-platform-section {
        flex-direction: column-reverse;
        align-items: center;
    }

   .our-platform-btn {
        display: flex;
        justify-content: center;
   }

   .platform-text {
        text-align: center;
   }

   .platform-image {
    width: 100%;
}

   .travel-step {
        flex-direction: column;
        align-items: center;
   }

   .review-cards-list {
        display: flex;
        flex-direction: column;
        align-items: center;
   }

    .cta-banner {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .cta-buttons {
        padding: 0 0 20px 0px;
    }

    .cta-text {
        padding: 20px 0 0 0px;
        text-align: center;
    }

    .footer-banner {
        flex-direction: column;
    }

    .subscribe-container {
        margin-bottom: 30px;
    }

    .image-container {
        align-items: center;
    }

    .quote {
        text-align: center;
        margin-bottom: 50px;
    }

    .metrics {
        flex-direction: column;
        align-items: center;
    }

    .hero-section button {
        margin-bottom: 70px;
    }
}

@media (max-width: 768px) {
    .display {
        font-size: 48px;
    }

    .header-section p {
        width: 500px;
    }

    .heading-1 {
        font-size: 28px;
    }

    .explore-text {
        max-width: 500px;
    }

    .platform-text h1{
        font-size: 28px;    
    }

    .platform-image {
        width: 100%;
    }
    
    .hotel-section-headline {
        font-size: 28px;
    }

    .hotel-section-text {
        align-items: center;
    }

    .hotel-section-paragraph {
        max-width: 500px;
    }

    .footer-paragraph {
        font-size: 11px;
        margin-bottom: 15px;
    }

    .footer-nav a {
        font-size: 11px;
    }

    .subscribe-input {
        font-size: 11px;
    }

    .white-button {
        font-size: 11px;
    }

    .subscribe-label {
        font-size: 11px;
    }

    .footer-logo {
        max-width: 160px;
    }

    .copyrights-text {
        font-size: 11px;
    }

    .copyrights-buttons {
        font-size: 11px;
    }

}

@media (max-width: 568px) {
    .display {
        font-size: 35px;
    }

    .header-section p {
        width: 320px;
    }

    .subscribe-wrapper {
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .subscribe-input {
        width: 200px;
    }

    .subscribe-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .copyrights-container {
        flex-direction: column;
        align-items: center;
    }

  

    .footer-nav {
        width: 250px;
    }

}

@media (max-width: 480px) {
    .card-info {
        width: 300px;
    }
}