:root {
    --primary: #002E74;
    --accent: #1D6DEC;
    --grey: #4F4F53;
    --black: #000000;
    --white: #FFFFFF;
    --background: #F5F5F5;
    --background-2: #E5E5E5;

    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.header-section {
    background-image: url(./images/places-to-visit-in-bulgaria.jpg);
    border-radius: 16px;
    position: relative;
}

.header-section::before {
    content: '';
    position: absolute;
    right: -1px;
    top: -1px;
    left: -1px;
    bottom: -1px;
    background: var(--black);
    border-radius: 16px;
    z-index: -1; 
}

.navigation-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    gap: 48px;
    margin-left: 8px;
}

.navigation-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-content: center;
}

.logo {
    display: flex;
    align-content: center;
    max-height: 30px;
}

.navigation-container a {
    color: var(--white);
    text-decoration: none;
}

.login-buttons {
    display: flex;
    gap: 12px;
    margin-left: 92px;
}

.p2 {
    font-size: 16px;
    font-weight: 400;
}

.button {
    font-size: 16px;
    font-weight: 600;
    color: white;
}